<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="NatyBeautyDAL.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <NatyBeautyDAL.Settings1>
      <setting name="DBName" serializeAs="String">
        <value>Wus9aF6YEVbL3Y01rR/ubuNrFfQiVI0J29jm6RxRng4=</value>
      </setting>
      <setting name="DBUser" serializeAs="String">
        <value>akunWKY4+Fw5AIKFCEzdyg==</value>
      </setting>
      <setting name="DBPassword" serializeAs="String">
        <value>P+Xup7CKpZcdZE5IK3pqzA==</value>
      </setting>
      <setting name="DBServer" serializeAs="String">
        <value>tqLVJYPTi4meU0d0SBNyl//QYMEZsfq1j2npjQop8Sjo4ccXAVbWTaLHaB09OWfk</value>
      </setting>
    </NatyBeautyDAL.Settings1>
  </applicationSettings>
</configuration>